.stock-announcements {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-bottom: 40px;
  }
  &__item:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;

    .promotion-card__grid {
      align-items: flex-start;
    }
    .promotion-card__name {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .promotion-card__text {
      font-size: 24px;
      // margin-bottom: 35px;
    }
    .promotion-card__left {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }
    .promotion-card__button {
      margin-top: auto;
    }
  }
}

.promotion-card {
  background-color: #f5f5f5;
  padding: 24px;
  position: relative;

  &__grid {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
  }

  &__label {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    color: #ffffff;
    padding: 4px 15px;
    background: #ec008c;
    max-width: max-content;
    position: relative;
    left: -24px;
    margin-bottom: 20px;
  }
  &__name {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 16px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #838383;
    margin: 0;
    margin-bottom: 35px;
  }
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1.3;
    &::after {
      content: "";
      margin-left: 8px;
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' fill='none'%3e%3cpath stroke='%23EC008C' stroke-width='2' d='M10.137 1 16 6.863m0 0-5.863 5.862M16 6.863H0'/%3e%3c/svg%3e");
      width: 20px;
      height: 16px;
      background-repeat: no-repeat;
    }
  }
  &__photo {
    img {
      display: block;
      width: 100%;
    }
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 16px 20px;
  background-color: #ec008c;
  border-radius: 4px;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 48px;
}

.button--black {
  background-color: #131313;
}

.center {
  max-width: 200px;
  width: 100%;
  margin-inline: auto;
}

.information-block {
  &__grid {
    display: grid;
    gap: 24px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-bottom: 40px;
  }
  &__left {
    img {
      display: block;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 232px;
      min-width: 100%;
    }
  }

  &__label {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #838383;
    margin: 0;
  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.33;
    color: #131313;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #131313;
    margin-top: 0;
  }
}

.detailed-service-card {
  &__grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  &__left {
  }
  &__label {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    color: #ffffff;
    padding: 4px 15px;
    background: #ec008c;
    max-width: max-content;
    margin-bottom: 20px;
  }
  &__name {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 16px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #838383;
    margin: 0;
  }
  &__right {
  }
  &__photo {
  }
}
.slider-service-announcements {
  position: relative;
  overflow: hidden;

  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination {
    position: initial;
    max-width: max-content;
    margin: 0 auto;
  }
  .swiper-wrapper {
    margin-bottom: 32px;
  }
  .promotion-card__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .swiper-slide {
    width: 33.333%;
  }
  &__content {
    margin-bottom: 32px;
  }
}

@media (max-width: 1440px) {
  .slider-service-announcements {
    .promotion-card__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
    .promotion-card__right {
      grid-row-start: 1;
    }
    .promotion-card__label {
      position: absolute;
      left: 0;
      margin-bottom: 0;
      top: 24px;
    }
  }
}

@media (max-width: 1200px) {
  .detailed-service-card__grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .detailed-service-card__right {
    grid-row-start: 1;
  }
}

@media (max-width: 1024px) {
  .stock-announcements__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .stock-announcements__item:not(:first-of-type) {
    .promotion-card__grid {
      gap: 24px;
      grid-template-columns: 1fr;
    }
    .stock-announcement .promotion-card__right {
      grid-row-start: 1;
    }
    .stock-announcement .promotion-card__label {
      position: absolute;
      top: 24px;
      left: 0;
      margin: 0;
    }
  }

  .slider-service-announcements {
    .swiper-slide {
      width: 50%;
      margin: 0 auto;
    }
    .promotion-card__photo img {
      height: 232px;
      object-fit: contain;
    }
    .promotion-card__grid {
      gap: 0 !important;
      grid-template-columns: 1fr;
    }
    .promotion-card__name {
      margin-bottom: 6px;
    }
    .promotion-card__text {
      margin-bottom: 8px;
    }
    .promotion-card__text {
      font-weight: 300;
    }
  }
}

@media (max-width: 768px) {
  .stock-announcements__item:first-of-type {
    .promotion-card__text {
      font-size: 20px;
      font-weight: 300;
    }
    .promotion-card__name {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 650px) {
  .stock-announcements__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .stock-announcements__item:first-of-type {
    grid-column-start: initial;
    grid-column-end: initial;
  }

  .promotion-card__grid {
    gap: 24px;
    grid-template-columns: 1fr;
  }
  .promotion-card__right {
    grid-row-start: 1;
  }
  .promotion-card__label {
    position: absolute;
    top: 24px;
    left: 0;
    margin: 0;
  }
  .information-block__grid {
    grid-template-columns: 1fr;
  }
  .button.center {
    max-width: 100%;
  }
  .slider-service-announcements {
    .promotion-card__grid {
      gap: 24px;
    }
  }
}

@media (max-width: 500px) {
  .slider-service-announcements {
    .swiper-slide {
      width: 80%;
      // margin: 0;
    }
  }
}
